/****** FETCHED DATA STYLE.css  ******/
/* http://meyerweb.com/eric/tools/css/reset/ 
 v2.0 | 20110126
 License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* Actual styles */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0.5em;
  background: transparent;
  font-size: 15px;
  font-weight: 200;
  color: #3a3a3a;
  border: none;
}

ul {
  list-style-type:none;
}
li {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2em;
  margin-bottom: 1em;
}

h2 {
  font-size: 1.4em;
  margin: 1em 0;
}

#addons,
#list,
#item {
  margin: 0.5em;
}

#preview {
max-width:600px;
background-color: transparent;
}

#preview ul li {
margin-bottom: 10px;

}

#preview h4,
#preview .author,
#preview .date {
 float: right;
 width: 190px;
 vertical-align: text-bottom;
 padding: 4px 10px 0 10px;
}

#preview h4 {
  font-weight: 600;
  line-height: 17px;
  padding-bottom: 4px;
}

#preview .author {
  font-style: italic;
  font-size: small;
}

#preview .date {
  font-size: small;
}

#preview .image {
 float: left;
 border: 5px solid #d7d7d7;
 max-width: 120px;
}

#preview ul a{
overflow: hidden;
}


#preview ul li{
overflow: hidden;
  clear: both;
}


#preview-loadmore {
  text-align:center;
  line-height:40px;
  display:block;
  font-weight:bold;
  font-size:1.2em;
  margin-bottom:10px;
}

#preview img {
  max-width: 120px;
}

#addons div h4 {
  float: none;
  width: auto;
  padding-left: 0;
}

.btn {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
  background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color:#ededed;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#777777;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:1px 1px 0px #ffffff;
}
.btn:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
  background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
  background-color:#dfdfdf;
}
.btn:active {
  position:relative;
  top:1px;
}
